* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* text-decoration: none; */
}

.App {
  text-align: center;
  /* Below is added */
  /* width: 400px;
  margin: 0 auto;
  margin-top: 50px; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Form {
  margin: auto;
  position: relative;
  height: 550px;
  width: 450px;
} */

select.form-control {
  -webkit-appearance: menulist;
}

.images {
  /* object-fit: fill; */
  /* background-image: url('/cappuccino.jpg'); */
  max-width: 50%;
  max-height: 50%;
  /* width: auto; */

  display: block;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 650px;
  margin: 1rem auto;
  overflow: auto;
  padding: 0 2rem;
} 

.form-group {
  margin: 1rem 0;
}

/* label, select, option {
  float: left;
  margin: 5px 0px;
} */

/* input {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
} */

/* input[type='text'],
select,
textarea {
  display: inline;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
} */

